<h1>Lista de Productos:</h1>

    {{!-- {{#if showProds}}
    <ul>
        {{#each products}}
            <li>{{this.name}} {{this.price}}</li>
        {{/each}}
    </ul>
    {{/if}} --}}

    <ul>
        {{ dataProds}}
    </ul>

    <div>
        <button><a href="/form">Agregar Producto</a></button>
    </div>